body {
  color: white;
  background-image: url("./bg.jpg");
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Karla', sans-serif, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Karla', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.job-list{
  font-size: 55pt;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}


.update-list {
  font-size: 55pt;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}

.search-list {
  font-size: 55pt;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}

.create_job{
  font-size: 55pt;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}

#indeed {
  background-color: #2164f3;
}

#glassdoor {
  background-color: 
  
#0daa41;
}


#monster {
  background-color: 
  #642891;
}

h5 {
  color: white;
}

p {
  color: white;
}

th, tr {
  color: 
  #6c757d;
}

.completed {
  text-decoration: line-through;
}

label {
  color: 
  #6c757d;
}

.navbar-brand {
  color: white;
}

a {
  font-weight: bold;
  font-size: 15pt;
}


/* .navbar-brand:hover {
  color: coral;
} */

.nav-link {
  color: white;
}